.half-header{
    width: 100%;
    min-height: 170px;
    object-fit: cover;
}

.about-container{
    width: max(70%,350px);
    max-width: 1000px;
    margin: 50px auto;
    border: 5px solid black;
    padding: 30px 20px;
    border-image: linear-gradient(#277DFF, #FF7557) 30;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.about-container p{
    line-height: 1.5;
}
.about-container img{
    max-width: 320px ;
}